<h1> New poem </h1>
<%= form_for @poem do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<hr/>
<%= f.label :description %>
<%= f.text_area :description,class:'textarea'%>
<%= f.submit %>
<% end %>
