<body id='Contact_me_body'>
<div class="columns">
<div class="column" id="firstColumn">
  <div class="field">
  <%= form_tag contact_me_path do %>
  <strong class="label" ><%= label_tag :firstname %></strong>
  <%= text_field_tag :name,'',class: "input is-medium",id: 'input_name',placeholder:"First Name"  %>
  <strong class="label" ><%= label_tag :lastname %></strong>
  <%= text_field_tag :name,'',class: "input is-medium",id: 'input_name',placeholder:"last Name"  %>
  <strong class="label"><%= label_tag :email  %></strong>
  <%= email_field_tag :email,'',class: 'input is-medium ',id: 'input_email',placeholder:"Email" %>
  <strong class="label"><%= label_tag :text  %></strong>
  <%= text_area_tag :text,'',class: 'textarea',id: 'input_text',placeholder:'Text' %>
  <div id="boba">
  <%= submit_tag 'Submit', class: 'button is-purple is-outlined is-medium is-fullwidth',id:'SubmitButton' %>
  </div>
</div>
 </div>
 <div class="column">
   <i class="far fa-feather-alt"></i>
</div>
 <div class="column">
 </div>
</div>
<% end %>
</body>
