<!DOCTYPE html>
<html>
  <head>
    <title>Poems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="columns">
        <div class="column">
      <%= link_to 'Home', root_path %>
        </div>
        <div class="column">
      <%= link_to 'About Me', about_me_path %>
      </div>
        <div class="column">
      <%= link_to 'Contact_me', contact_me_path %>
      </div>
      <div class="column">
      <%= link_to 'Poems', root_path %>
    </div>
  </div>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
